@use "tokens" as *;

form {
  margin: 0 auto;
  max-width: 25rem;
}

.form-field {
  display: block;
  margin-top: 1rem;

  > span {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.form-field__hint {
  display: block;
  color: $color-text-muted;
  margin-top: 0.25rem;
}

.form-field__error {
  display: block;
  color: $color-error;
  margin-top: 0.25rem;
}

.form__actions {
  margin-top: 1rem;
}

input {
  padding: 12px 20px 12px 6px;
  border: 1px solid $color-border;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;

  &.ng-invalid.ng-touched {
    border: 2px solid $color-error;
  }
}

button[type="submit"] {
  background-color: $color-primary-invert;
  color: $color-primary;
  border: solid 3px $color-primary;
  padding: $spacing-xxs;
  width: 100%;
  height: $spacing-m;
  font-size: $font-size-s;
  margin-top: $spacing-xs;

  &:hover {
    background-color: $color-background-light;
  }

  &:disabled {
    background-color: $color-primary-invert;
    border: solid 3px $color-background-light;
  }
}
