<!--We need a navigation, not a menu bar - see "Caution" box-->
<!--https://www.w3.org/WAI/ARIA/apg/patterns/menubar/examples/menubar-navigation/-->
<nav aria-label="Accessible Reads" class="nav">
  <button
    type="button"
    id="menubutton"
    class="nav__toggle"
    aria-label="Accessible Reads Quick Links"
    aria-controls="menuContent"
    (click)="onButtonClick()"
    [attr.aria-expanded]="isMenuOpen"
  >
    ☰
  </button>

  <ul
    id="menuContent"
    class="nav__list"
    [class.nav__list--open]="isMenuOpen"
  >
    @for (menuItem of menuItems; track menuItem) {
    <li
      class="nav__item"
      routerLinkActive="nav__item--active"
      ariaCurrentWhenActive="page"
    >
      <a class="nav__link" [routerLink]="menuItem.url">{{ menuItem.title }}</a>
    </li>
    }
  </ul>
</nav>
